.house {
  position: relative;
  width: 700px;
  height: 400px;
  background: url('/house.jpg') no-repeat;
  background-size: 700px;
}

.gnome {
  position: absolute;
  bottom: 25px;
  right: 25px;
  width: 200px;
  height: 200px;
  background: url('/gnome.jpg') no-repeat;
  background-size: 200px;
}

body {
  margin: 0;
  padding: 25px;
  font-family: sans-serif;
}